# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
deb_dist/*
!deb_dist/*.deb
flatpak_manager-*.tar.gz

# Virtual environment
env/
venv/
ENV/
.env
.venv
